<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Services</title>
    
    <script src="./scripts/angular.js"></script>
    <script src="./scripts/script.js"></script>
    <script src="./scripts/stringService.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body ng-app="MyModule">
    <div ng-controller="MyController">
        <table>
            <tr>
                <td>Your String</td>
                <td><input type="text" ng-model="input"></td>
            </tr>
            <tr>
                <td>Result</td>
                <td><input type="text" ng-model="output"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Process String" ng-click="transformString(input)">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>