<!DOCTYPE html>
<html ng-app="myModule" lang="en">
  <head>
    <script src="./scripts/angular.js"></script>
    <script src="./scripts/script.js"></script>
    <script src="./scripts/filters.js"></script>
    <link rel="stylesheet" href="./styles/style.css" />
    <title>AngularJs</title>
  </head>
  <body ng-controller="myController">
    <div>
      Select View:
      <select ng-model="modelView">
        <option ng-repeat="modelView in modelViews" value="{{modelView.value}}">
          {{modelView.name}}
        </option>
      </select>
    </div>
    <br />

    <div ng-include="modelView"></div>
  </body>
</html>
